.card{    
    width: 224px;
    height: 224px;
    position: relative;
}

.card:hover{
    border-color: #C9D636;
    box-shadow: 0px 0px 5px 4px #C9D636;
}

img{    
    height: 169px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
}

img.image-dead{
    filter: grayscale(100%);
}
.card-body{
    height: 55px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 2px solid #606060; 
    padding-left: 7px;
    backdrop-filter: blur(10px);
    position: absolute;
    width: 100%;
    bottom: 0!important;
}

.card-title{
    font-family: Nunito;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-text{
    font-family: Nunito;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}
